<html>
    <head>

    </head>
    <body>
        <h1>Nosotros</h1>
      
    </ul>
    <P>que si sirvaaaaa</P>
                        <li><a href="pagina.valentina/inicio.html">Inicio</a></li>
						<li><a href="pagina.valentina/linea capilar.html">Linea capilar</a></li>
						<li><a href="pagina.valentina/linea corporal.html">Linea corporal</a></li>
						<li><a href="pagina.valentina/linea facial.html">Linea facial</a></li>
						<li><a href="pagina.valentina/nosotros.html">Nosotros</a></li>
					</ul>
    </body>
</html>